/* published APi for text sky's source code*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
/* this is slide bar properties */

#slide_menu_bar_01_s{	height:100%;	width:0px;	overflow:hidden;	float:left;	transition: 0.7s;	background: #dbd9d3;}
/* font settings and properties*/
#font_deco_bold_0{	font-family: 'Roboto', sans-serif;	text-decoration: none;	list-style-type: none;color:black;font-weight: 500; transition:1.2s;}
#font_deco_bold_1{	font-family: 'Roboto', sans-serif;	text-decoration: none;	list-style-type: none;color:black;font-weight: 500;transition:1.2s;}
#font_deco_bold_2{	font-family: 'Roboto', sans-serif;	text-decoration: none;	list-style-type: none;color:black;font-weight: 500;transition:1.2s;}
#font_deco_bold_3{	font-family: 'Roboto', sans-serif;	text-decoration: none;	list-style-type: none;color:black;font-weight: 500;transition:1.2s;}
#font_deco_bold_4{	font-family: 'Roboto', sans-serif;	text-decoration: none;	list-style-type: none;color:black;font-weight: 500;transition:1.2s;}
#font_deco_bold_5{	font-family: 'Roboto', sans-serif;	text-decoration: none;	list-style-type: none;color:black;font-weight: 500;transition:1.2s;}
#font_deco_normal_0{/*width: 100px;*/	font-family: 'Roboto', sans-serif;text-decoration:none;list-style-type: none;	color:black;font-weight: 300;transition:1.2s;}
#font_deco_normal_1{/*width: 100px;*/	font-family: 'Roboto', sans-serif;text-decoration:none;list-style-type: none;	color:black;font-weight: 300;transition:1.2s;}
#font_deco_normal_2{/*width: 100px;*/	font-family: 'Roboto', sans-serif;text-decoration:none;list-style-type: none;	color:black;font-weight: 300;transition:1.2s;}
#font_deco_normal_3{/*width: 100px;*/	font-family: 'Roboto', sans-serif;text-decoration:none;list-style-type: none;	color:black;font-weight: 300;transition:1.2s;}
#font_deco_normal_4{/*width: 100px;*/	font-family: 'Roboto', sans-serif;text-decoration:none;list-style-type: none;	color:black;font-weight: 300;transition:1.2s;}
#font_deco_normal_5{/*width: 100px;*/	font-family: 'Roboto', sans-serif;text-decoration:none;list-style-type: none;	color:black;font-weight: 300;transition:1.2s;}
#font_deco_normal_6{/*width: 100px;*/	font-family: 'Roboto', sans-serif;text-decoration:none;list-style-type: none;	color:black;font-weight: 300;transition:1.2s;}
#font_deco_normal_7{/*width: 100px;*/	font-family: 'Roboto', sans-serif;text-decoration:none;list-style-type: none;	color:black;font-weight: 300;transition:1.2s;}
#font_deco_normal_8{/*width: 100px;*/	font-family: 'Roboto', sans-serif;text-decoration:none;list-style-type: none;	color:black;font-weight: 300;transition:1.2s;}
#font_deco_normal_9{/*width: 100px;*/	font-family: 'Roboto', sans-serif;text-decoration:none;list-style-type: none;	color:black;font-weight: 300;transition:1.2s;}
#font_deco_normal_10{/*width: 100px;*/	font-family: 'Roboto', sans-serif;text-decoration:none;list-style-type: none;	color:black;font-weight: 300;transition:1.2s;}
/* font effects and settings properties*/
#font_deco_effect_0{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;}
#font_deco_effect_1{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;	margin-left: 8px;}
#font_deco_effect_2{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;	margin-left: 8px;}
#font_deco_effect_3{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;	margin-left: 8px;}
#font_deco_effect_4{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;}
#font_deco_effect_5{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;	margin-left: 8px;}
#font_deco_effect_6{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;	margin-left: 8px;}
#font_deco_effect_7{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;}
#font_deco_effect_8{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;	margin-left: 8px;}
#font_deco_effect_9{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;	margin-left: 8px;}
#font_deco_effect_10{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;}
#font_deco_effect_11{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;	margin-left: 8px;}
#font_deco_effect_12{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;	margin-left: 8px;}
#font_deco_effect_10{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;}
#font_deco_effect_11{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;	margin-left: 8px;}
#font_deco_effect_12{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;	margin-left: 8px;}
#font_deco_effect_13{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;}
#font_deco_effect_14{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;	margin-left: 8px;}
#font_deco_effect_15{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;	margin-left: 8px;}
#font_deco_effect_16{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;}
#ul_element_s_0{ list-style-type: none; /* border: red solid 1px;*/ background: white; transition: 0.4s; }
#ul_element_s_1{ list-style-type: none; /*border: red solid 1px; */background: white; transition: 0.4s; }
#ul_element_s_2{ list-style-type: none;/*border: red solid 1px;*/ background: white; transition: 0.4s; }
#ul_element_s_3{ list-style-type: none; /*border: red solid 1px;*/ background: white; transition: 0.4s; }
#ul_element_s_4{ list-style-type: none;/* border: red solid 1px;*/ background: white; transition: 0.4s; }
#ul_element_s_5{ list-style-type: none; /*border: red solid 1px;*/ background: white; transition: 0.4s; }
/* this is for chat add on */
#chat_open{float:right; /* border:red solid 1px; */width:0px; height: 100%; transition: 0.5s; background: grey;}
#chat_open_comp_0{right:0px;  margin-left:25px; margin-right:25px; width:50px; height: 100%; position:fixed; z-index:0; background-color:#dbd9d3; transition: 0.6s;}
#slide_button_s{	/*border: red solid 1px;*/ 	float:left; 	height: 50px; 	width: 50px; 	margin-left:5px;	/*background: grey;*/ transition: 0.7s;		}
#slide_button_animation01{  top:0px; bottom:0px; width: 50px; height:0px; position:absolute; background-color:black; transition: 0.2s;}
#slide_button_animation02{ top:59px; left:29px; bottom:0px; width:50px; height:0px; position:absolute; background-color:black; transition: 0.2s;}

#ul_element_s_0_01{ width:100%; height:20px; background-color:red; transition: 0.4s;}
#ul_element_s_1_01{ width:100%; height:20px; background-color:#ff5733; transition: 0.4s;}
#ul_element_s_2_01{width:100%; height:20px; background-color:#3355ff;transition: 0.4s;}
#ul_element_s_3_01{width:100%; height:20px; background-color:#6eff33; transition: 0.4s;}
#ul_element_s_4_01{width:100%; height:20px; background-color:#ffef2b; transition: 0.4s;}
#ul_element_s_5_01{width:100%; height:20px; background-color:#565656; transition: 0.4s;}

#draw_up_ani_01{position:absolute; width:10px; height:0px; background-color: white; transition: 0.3s;}
#draw_up_ani_03{position:absolute; width:200px; height:0px; background-color: white; transition: 0.3s;}
#draw_up_ani_02{position:absolute; width:200px; height:0px; background-color: white; margin-top:23px; transition: 0.3s;}
#draw_up_ani_04{position:absolute; width:10px; height:0px; background-color: white; margin-top:23px; transition: 0.3s;}

#canvas{ height: 500px; width:1500px; border: 2px solid black; background-color:white; background-image:url("../Images/jpg/rem_draw_grey.jpg"); background-size:900px; background-repeat:no-repeat; }
#canvas_01{ height: 500px; width:1500px; border: 2px solid black; background-color:white; background-image:url("../Images/png/drawing_shape.png"); background-size:512px; background-repeat:no-repeat; }
/*#canvas_draw{ background-color:white; background-image:url("../Images/jpg/rem_draw_grey.jpg"); background-size:500px; background-repeat:no-repeat;} */
#brush_size{width:20px;height:20px;}
#brush_size_01{border:2px black solid;height:20px; }
#width_height {height:600px; width:80%; margin:auto; margin-top:50px; background-color:white;}
.li_lists
{
	width:200px;
}
.slide_element_0
{
     /*	width:90%;*/
	/*height:90%; */
	/*border: red solid 1px;*/ 
	border: white solid 3px;
	margin:0px;
	background: black;
}
.slide_element_1
{
	/*border:green solid 1px; */
	height:100px; 
	width:100%;
}
.slide_element_2
{
	/* border:blue solid 1px;*/
	height:80px;
	width:80px;
	margin:auto;
	margin-top:8px;
}
.slide_element_3
{
	/* border:green solid 1px;*/
	height:100%;
	width:100%;
}
.slide_element_4
{
	/* border:blue solid 1px; */ 
	height:100%;
	width:90%;
	padding:5px; 
	margin:auto;
}
body{
	height: 1000px;
	background-image:url("../Images/png/background.jpg");
}
/* Melvin's Source Code */
h1, h2, h3
{
	text-align: center;
}

p
{
	text-align: center;
}

.collapsible {
	background-color: #f00;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: centre;
	outline: none;
	font-size: 25px;
	transition-duration: 1s;
	margin: 10px;
}

.active, .collapsible:hover {
	background-color: #555;
	transition-duration: 1s;
}

.content {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #f1f1f1;
}	


/* Jared's Source Code */
.menu{
    width: 100%;
}
.menu img{
    height: 35px;
    margin: 20px 50px;
    cursor: pointer;
}
.menu ul{
    display: inline-flex;
    color: #fff;
    list-style: none;
    right: 60px;
    top: 15px;
    position: absolute;
}
.menu ul li{
    margin: 15px;
    cursor: pointer;
    font-size: 18px;
}
.menu ul li .fa{
    margin-right: 13px;
    font-size: 20px;
}
.banner-text{
    width: 80%;
    color: #fff;
    margin: 16% auto 0;
}
.banner-text h1{
    font-size: 60px;
}
.banner-text p{
    font-size: 16px;
    margin: 40px 0 50px;
}
.banner-text ul{
    list-style-type: none;
    display: inline-flex;
}
.banner-text ul li{
    margin-right: 25px;
    position: relative;
}
.banner-text ul li a{
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    display: block;
    padding: 10px;
    width: 120px;
    text-align: center;
    z-index: 1;
}
.banner-text ul li a:hover{
    border: 2px solid red;
    transition: .3s;
}
.banner-text ul li span{
    display: block;
    width: 0;
    height: 100%;
    background: red;
    top: 0;
    position: absolute;
    transition: .3s;
    z-index: -1;
}
.banner-text ul li:hover span{
    width: 100%;
}
