/* published APi for text*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

#slide_menu_bar_01_s
{

	height:100%;
	width:0px;
	overflow:hidden;
	float:left;
	transition: 0.7s;
	background: #dbd9d3;
}
/* font settings and properties*/
#font_deco_bold_0{	font-family: 'Roboto', sans-serif;	text-decoration: none;	list-style-type: none;color:white;font-weight: 500; transition:1.2s;}
#font_deco_bold_1{	font-family: 'Roboto', sans-serif;	text-decoration: none;	list-style-type: none;color:white;font-weight: 500;transition:1.2s;}
#font_deco_bold_2{	font-family: 'Roboto', sans-serif;	text-decoration: none;	list-style-type: none;color:white;font-weight: 500;transition:1.2s;}
#font_deco_bold_3{	font-family: 'Roboto', sans-serif;	text-decoration: none;	list-style-type: none;color:white;font-weight: 500;transition:1.2s;}
#font_deco_bold_4{	font-family: 'Roboto', sans-serif;	text-decoration: none;	list-style-type: none;color:white;font-weight: 500;transition:1.2s;}
#font_deco_bold_5{	font-family: 'Roboto', sans-serif;	text-decoration: none;	list-style-type: none;color:white;font-weight: 500;transition:1.2s;}
#font_deco_normal_0{/*width: 100px;*/	font-family: 'Roboto', sans-serif;text-decoration:none;list-style-type: none;	color:white;font-weight: 300;transition:1.2s;}
#font_deco_normal_1{/*width: 100px;*/	font-family: 'Roboto', sans-serif;text-decoration:none;list-style-type: none;	color:white;font-weight: 300;transition:1.2s;}
#font_deco_normal_2{/*width: 100px;*/	font-family: 'Roboto', sans-serif;text-decoration:none;list-style-type: none;	color:white;font-weight: 300;transition:1.2s;}
#font_deco_normal_3{/*width: 100px;*/	font-family: 'Roboto', sans-serif;text-decoration:none;list-style-type: none;	color:white;font-weight: 300;transition:1.2s;}
#font_deco_normal_4{/*width: 100px;*/	font-family: 'Roboto', sans-serif;text-decoration:none;list-style-type: none;	color:white;font-weight: 300;transition:1.2s;}
#font_deco_normal_5{/*width: 100px;*/	font-family: 'Roboto', sans-serif;text-decoration:none;list-style-type: none;	color:white;font-weight: 300;transition:1.2s;}
#font_deco_normal_6{/*width: 100px;*/	font-family: 'Roboto', sans-serif;text-decoration:none;list-style-type: none;	color:white;font-weight: 300;transition:1.2s;}
#font_deco_normal_7{/*width: 100px;*/	font-family: 'Roboto', sans-serif;text-decoration:none;list-style-type: none;	color:white;font-weight: 300;transition:1.2s;}
#font_deco_normal_8{/*width: 100px;*/	font-family: 'Roboto', sans-serif;text-decoration:none;list-style-type: none;	color:white;font-weight: 300;transition:1.2s;}
#font_deco_normal_9{/*width: 100px;*/	font-family: 'Roboto', sans-serif;text-decoration:none;list-style-type: none;	color:white;font-weight: 300;transition:1.2s;}
#font_deco_normal_10{/*width: 100px;*/	font-family: 'Roboto', sans-serif;text-decoration:none;list-style-type: none;	color:white;font-weight: 300;transition:1.2s;}
/* font effects and settings properties*/
#font_deco_effect_0{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;}
#font_deco_effect_1{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;	margin-left: 8px;}
#font_deco_effect_2{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;	margin-left: 8px;}
#font_deco_effect_3{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;	margin-left: 8px;}
#font_deco_effect_4{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;}
#font_deco_effect_5{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;	margin-left: 8px;}
#font_deco_effect_6{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;	margin-left: 8px;}
#font_deco_effect_7{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;}
#font_deco_effect_8{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;	margin-left: 8px;}
#font_deco_effect_9{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;	margin-left: 8px;}
#font_deco_effect_10{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;}
#font_deco_effect_11{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;	margin-left: 8px;}
#font_deco_effect_12{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;	margin-left: 8px;}
#font_deco_effect_10{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;}
#font_deco_effect_11{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;	margin-left: 8px;}
#font_deco_effect_12{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;	margin-left: 8px;}
#font_deco_effect_13{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;}
#font_deco_effect_14{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;	margin-left: 8px;}
#font_deco_effect_15{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;	margin-left: 8px;}
#font_deco_effect_16{	border-bottom:black solid 1.5px;	width:0px;	transition: 1.2s;}
#ul_element_s_0{ list-style-type: none; /* border: red solid 1px;*/ background: red; transition: 0.4s; }
#ul_element_s_1{ list-style-type: none; /*border: red solid 1px; */background: #c4c2bb; transition: 0.4s; }
#ul_element_s_2{ list-style-type: none;/*border: red solid 1px;*/ background: #c4c2bb; transition: 0.4s; }
#ul_element_s_3{ list-style-type: none; /*border: red solid 1px;*/ background: #c4c2bb; transition: 0.4s; }
#ul_element_s_4{ list-style-type: none;/* border: red solid 1px;*/ background: #c4c2bb; transition: 0.4s; }
#ul_element_s_5{ list-style-type: none; /*border: red solid 1px;*/ background: #c4c2bb; transition: 0.4s; }
.li_lists{
	width:200px;
}
.slide_element_0
{
	width:90%;
	height:90%; 
	/*border: red solid 1px;*/ 
	border: white solid 5px;
	margin:auto;
	background: #ff0000;
}
.slide_element_1
{
	/*border:green solid 1px; */
	height:100px; 
	width:100%;
}
.slide_element_2
{
	/* border:blue solid 1px;*/
	height:80px;
	width:80px;
	margin:auto;
	margin-top:8px;
}
.slide_element_3
{
	/* border:green solid 1px;*/
	height:100%;
	width:100%;
}
.slide_element_4
{
	/* border:blue solid 1px; */ 
	height:100%;
	width:90%;
	padding:5px; 
	margin:auto;
}
.slide_button_s
{
	/*border: red solid 1px;*/ 
	float:left; 
	height: 50px; 
	width: 50px; 
	margin-left:5px;
	/*background: grey;*/

}